# Azure Container Registry
acr_name: ${ acr_name }
acr_username: ${ acr_username }
acr_password: ${ acr_password }

# Webserver
vm_user: ${vm_user}
private_key_file: private_key.pem

# Kubernetes
app_namespace: myapp